<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>

<body>
    <div class="center">
        <h1 class="t1"> Hi .. MASTER</h1>
        <h3 class="t2"><b>Nice to serve you MASTER</b></h3>
        <p>-----------------------------------------</p>
        <p><b>Thsi is your email : </b><%=email %> </p>
        <br/>
        <a href="./logout" class="btn btn-primary">Logout</a>
    </div>

    <style>
        .t1 , .t2 {
            color:red;
        }
    </style>
</body>

</html>